/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}

 body{
  background-color: #62859b;
   color:#343a40
}

.pointer{
  cursor:pointer;
}

